@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
}

header {
  color: hsl(var(--nextui-content3-foreground));
}

.profile-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 1024px) {
  .objectives {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 1536px) {
  .objectives {
    font-size: 1.375rem;
    line-height: 2rem;
    gap: 1.5rem;
  }
}

.objectives {
  flex-direction: column;
}

.objectives span {
  font-weight: 700;
}

.objectives span p {
  font-weight: 300;
}

.project h2 {
  font-size: clamp(1.563rem, 1.439vw + 1.266rem, 2.813rem);
  font-weight: 700;
}
.project span {
  font-size: clamp(1rem, 0.576vw + 0.881rem, 1.5rem);
  line-height: clamp(normal, 0.576vw + 0.881rem, 2rem);
  font-weight: 700;
}
.project span p {
  font-weight: 300;
}

.project-inner .project-title {
  font-size: clamp(2.5rem, 3.237vw + 1.832rem, 5.313rem);
  font-weight: 700;
}

/* card */

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.flip-card__inner {
  perspective: 1000px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
  transform: rotateY(180deg);
}

.flip-card__front,
.flip-card__back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card__back {
  transform: rotateY(180deg);
}

.welcome-banner::before {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("/background-2.jpeg");
  background-size: cover;
  background-position: center bottom 20%;
  background-repeat: no-repeat;
  opacity: 30%;
  content: "";
}

.dark .welcome-banner::before {
  background-image: url("/welcome-background-dark.png");
  background-position: bottom;
}
