@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #5E6697;
  background: #E7E6E1;
}

#content {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.center {
  display:flex;
  justify-content: center;
  align-items: center;
}

main {
  position: inherit;
  top: 6.5rem; 
}

header {
  background: #E7E6E1;
  z-index: 1;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

