@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  color: #5E6697;
  background: #E7E6E1;
} */

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: #ECE8E5;
  color: #76726F;
  position: relative;
}

#app-container {
  margin-right: auto;
  margin-left: auto;
}

header {
  color: #B97361;
  z-index: 9000;
  display: flex;
  align-items: center;
}

main {
  height: calc(100vh - 4rem);
}

.icon-light {
  color: #5E6697;
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 0.5rem
}

.icon-form {
  color: #5E6697;
  padding: 0.5rem
}

.glass {
  color: #76726F;
  padding: 3rem 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}