@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  color: #5E6697;
  background: #E7E6E1;
} */

body{
  background: #ECE8E5;
  color: #76726F;
}

#content {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: inherit;
}

header {
  color: #B97361;
  z-index: 9000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-light {
  color: #5E6697;
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 0.5rem
}

.icon-form {
  color: #5E6697;
  padding: 0.5rem
}
.myContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}